/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/section.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.section2:hover .divider{
  background-color: blue;
}
.section2:hover .title,
.section2:hover .btn {
  color: #4070c7;
}

.title-2:hover+.item2-show {
  display: block;
}